// MOLECULE [ NAVIGATION ] ############################################################################################

@import "scss/.base/module-index";

.oThreeColumnTitleImageCopy {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++
  padding: 80px 0;

  .oContainer {
    max-width: 1170px;
  }

  .mImage {
    aspect-ratio: 1/1;
    @include background(cover);
    position: relative;
    overflow: hidden;
  }

  .oBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    padding: 30px;
    aspect-ratio: 1/1;
    border: 3px solid black;
    margin-right: auto;
    margin-left: 0;
  }

  .aTitle {
    text-transform: uppercase;
  }

  .mText {
  }

  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($md-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($lg-up) {
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
