// ATOMS [ MISC ]  ####################################################################################################

// A.1. GLOBAL STYLE --------------------------------------

// A.1.1. Headings ----------

* {
  color: #111;
}

h1,
h1 *,
.fntH1,
.fntH1 * {
  font-family: $font;
  font-weight: 800;
  @include scaledFont(28, 60, 60, 30, 60, 60);
}

h2,
h2 *,
.fntH2,
.fntH2 * {
  font-family: $font;
  font-weight: 800;
  @include scaledFont(24, 36, 36, 30, 38, 38);
}

h3,
h3 *,
.fntH3,
.fntH3 * {
  @include scaledFont(18, 24, 24, 22, 28, 28);
  font-family: $font;
  font-weight: 800;
}

h4,
h4 *,
.fntH4,
.fntH4 * {
  @include scaledFont(16, 18, 18, 20, 22, 22);
  font-family: $font;
  font-weight: 800;
}

h5,
h5 *,
.fntH5,
fntH5 * {
  @include scaledFont(16, 18, 18, 20, 22, 22);
  font-family: $font;
  font-weight: 800;
}

.fnt72f,
.fnt72f * {
  @include font(72);
}

.fnt30f,
.fnt30f * {
  @include font(30);
}

.fnt28,
.fnt28 * {
  @include scaledFont(20, 28, 28, 24, 32, 32);
}

.fnt18f,
.fnt18f * {
  @include font(18);
}

p,
p *,
.fnt18,
.fnt18 * {
  @include scaledFont(14, 18, 18, 16, 21, 21);
}

.fnt16f,
.fnt16f * {
  @include font(16);
}

.fnt14,
.fnt14 * {
  @include scaledFont(12, 14, 14, 16, 22, 22);
}
.fnt12,
.fnt12 * {
  @include font(12);
  line-height: 12px;
}

// A.1. END -----------------------------------------------

// END OF FILE ########################################################################################################
