// MOLECULE [ NAVIGATION ] ############################################################################################

@import "scss/.base/module-index";

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

.oContactForm {
  padding: 0;
}

.mContactForm {
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  min-height: 550px;
  position: relative;
  iframe {
    border: 0;
    @include position(absolute, 0);
    width: 100% !important;
    height: 100% !important;
  }
}

.mImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.oColImage {
  display: none;
}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++

// B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

@media ($md-dn) {
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++

// C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
  .oColImage {
    display: block;
  }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++

// D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++

// E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

@media ($lg-up) {
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
