// MOLECULE [ NAVIGATION ] ############################################################################################

@import "scss/.base/module-index";

.oImageGalleryGrid {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

  padding: 100px 0;

  .mBody {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .aTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border: 3px solid black;
    flex: 1 1 50%;
  }

  .mText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 50%;
    padding: 50px 0;
  }

  .oImageGrid {
    display: flex;
    flex-wrap: wrap;
    .mImage {
      aspect-ratio: 1/1;
      min-width: 50%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($md-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
    .mText {
      padding: 0;
    }
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($lg-up) {
    .oImageGrid {
      .mImage {
        min-width: 33.3%;
      }
    }
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
