// MOLECULE [ NAVIGATION ] ############################################################################################

@import "../../../scss/.base/_module-index";

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

.oContactForm {
  padding: 0 0 50px;
}

.oFormBlock {
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  min-height: 550px;
  position: relative;
  padding: 30px;
  border: 3px solid black;
}

.oForm {
  .aTitle {
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .mInput {
    position: relative;
    display: block;
    margin-bottom: 5px;
    padding-bottom: 18px;
    .aLabel {
      display: block;
      span {
        color: red;
      }
    }
    .aInput {
      width: 100%;
      padding: 5px;
      color: $green;
      border: 2px solid $green;
      border-radius: 0;
      &.aTextArea {
        min-height: 70px;
      }
    }
    .aError {
      color: red;
      position: absolute;
      bottom: 0;
      padding: 0;
      margin: 0;
    }
  }
}

.mImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.oColImage {
  display: none;
}

.mRedirect {
  @include position(absolute, 0);
  z-index: 10;
  background-color: $green;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .aText {
    padding: 0 30px;
  }
}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++

// B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

@media ($md-dn) {
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++

// C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
  .oColImage {
    display: block;
  }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++

// D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++

// E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

@media ($lg-up) {
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
